.form-link {
  padding: 0 60px;
  color: #fff !important;
  font-family: 'Open Sans',Arial,sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 56px;
  background-color: #f1592a;
  text-decoration: none;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

@media (max-width: 640px) {
  .form-link {
    padding: 0 30px;
  }
}

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.banner.banner-top {
  height: 48px;
  background-color: #f1592a;
}

.banner.banner-bottom {
  padding: 8px;
}

.banner-text {
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 700;
}

.banner-bottom-text {
  color: #000;
  font-size: 11px;
  line-height: 17px;
  font-weight: 400;
  max-width: 300px;
}

.banner-image {
  width: 200px;
  margin-right: 16px;
}


.header {
  top: 48px;
}